body { 
    background-color: darkgreen;
    margin: 0px;
    padding: 0px;
}

/*navigation div */
.top-div {
background-color: lightseagreen; 
height: 100vw;
width: 300px;
}

.top-div ul {
 display: flex; 
 align-items: center; 
 justify-content: center; 
}

.top-div ul li {
 list-style-type: none;
 display: inline-block;
 margin: 2%;
 font-style: normal;
}

.top-div ul li a{ 
 text-decoration: none;
 color:cornsilk;
 transition: 0.3s ease 0s;
}

.top-div ul li a:hover { 
 color: blue;
 text-decoration: underline;
}

/* Body Divs*/
.flex { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    background-color: grey;
    height: 300px;
    width: 50vw;
}

.div1 > img { 
    max-width: 20rem;
    max-height: 20rem;
}

.div2 {
    background-color: khaki;
    height: 300px;
    width: 50vw;
}

.footer div {
    background-color: darkolivegreen;
    height: 100vw;
    width: 200vw;
}
